<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Person Test For Thymeleat</title>

<link th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/bootstrap-3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet" />

</head>
<body>
<div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Access Model</h3>
		</div>
		<div class="panel-body">
			<span th:text="${person.id}"></span>
			<span th:text="${person.name}"></span>
			<span th:text="${person.age}"></span>
			<span th:text="${person.birth}"></span>
		</div>
	</div>
	
	
</div>
</body>
</html>